html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-height: 75rem;
    padding-top: 4.5rem;   
}

#home {
    background-image: url('../images/background.jpg');
    /*background-size: cover;*/
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-style: italic;
}

footer a {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

th, th a {
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
}

tr {
    text-align: center;
    vertical-align: middle;    
}

.stickyTableHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    background-color: #212529;
}

.stickyTableHeader::after {
    content:'';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
}

td {
    color: white;
    font-size: 1rem;
}

a {
    color: white;   
    text-decoration: none;
}

.form-control {
    background-color: #212529;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.control-label {
    color: white;
    font-size: 1.5rem;
}

.homepagebody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 400px;
    display: flex;
}

.homepagebody img {
    width: 800px;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 400px;
}

/*css for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 360px;
}

.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40D3DC;
}