html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-height: 75rem;
    padding-top: 4.5rem;    
}

#home {
    background-image: url('../images/background.jpg');
    /*background-size: cover;*/
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-style: italic;
}

footer a {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

th, th a {
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
}

tr {
    text-align: center;
    vertical-align: middle;    
}

.stickyTableHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    background-color: #212529;
}

.stickyTableHeader::after {
    content:'';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
}

td {
    color: white;
    font-size: 1rem;
}

a {
    color: white;
}

.form-control {
    background-color: #212529;
    color: white;
    text-align: center;
    font-size: 1rem;
}