@model Workout

<h2>CREATE NEW WORKOUT</h2>

@using (Html.BeginForm("InsertWorkoutToDatabase", "Workout", "Post"))
{
    <input asp-for="WorkoutID" type="hidden" value="" />

    <label asp-for="WorkoutName" class="control-label">WORKOUT NAME</label>
    <input type="text" name="WorkoutName" class="form-control" value="" />

    <input type="submit" value="Create Workout" class="btn btn-outline-light" />
}
