@model IEnumerable<Workout>

<h2>All Workouts</h2>

<div style="display: block">
    <a href="/Workout/CreateWorkout/">Create New Workout</a>
</div>

<table class="table">
    <tr>
        <th>Workout</th>
        <th></th>
    </tr>

    @foreach (var workout in @Model)
    {
        <tr>
            <td>@workout.WorkoutName</td>
            <td>
                <a asp-controller="Workout" asp-action="ViewWorkout" asp-route-id="@workout.WorkoutID">View</a> |
            
                Update |
            
                Delete
            </td>
        </tr>
    }

</table>
