@model IEnumerable<Workout>

<h2>All Workouts</h2>

<div style="display: block">
    <a href="/Workout/CreateWorkout/">Create New Workout</a>
</div>

<table class="table">
    <tr>
        <th>Workout Name</th>
    </tr>

    @foreach (var workout in @Model)
    {
        <tr>
            <td>
                <a asp-controller="Workout" asp-action="ViewWorkout" asp-route-id="@workout.WorkoutID">@workout.WorkoutName</a>
            </td>
        </tr>
    }

</table>
