@model IEnumerable<WorkoutExercise>

<h2>Workout</h2>

<table class="table">
    <tr>
        <th><a href=/Exercise/ViewByIDDesc>ID</a></th>
        <th><a href=/Exercise/ViewByNameDesc>Name</a></th>
        <th>Reps</th>
        <th>Sets</th>
    </tr>

    @foreach (var exercise in @Model)
    {
        <tr>
            <td><a href=/Exercise/ViewExercise/@exercise.ExerciseID>@exercise.ExerciseID</a></td>
            <td>@exercise.ExerciseName</td>
            <td>@exercise.Reps</td>
            <td>@exercise.Sets</td>
        </tr>
    }

</table>
